# RStudio files
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Quarto and rendering artifacts
_site/
.quarto/
*.html
*.ipynb
*.pdf

# Python and Jupyter
__pycache__/
*.py[cod]
*.egg
*.egg-info/
.env/
.venv/
penguins-env/
.ipynb_checkpoints/

# Project-specific (data, scripts not to publish)
eda-db.qmd
model-basic-py.qmd
model-db.qmd
app-api_correction.R
app-log.R
my-db.duckdb


/.quarto/
